<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Today Moves</title>
</head>
<body>
    <h1>Moves Created Today</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>VideoURL</th>
            <th>Created by</th>
        </tr>
        <tr th:each="move: ${todayMoves}" th:object="${move}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{videoURL}"></td>
            <td th:text="*{UserDTO.username}"></td>
        </tr>
    </table>

    <a th:href="@{/}">Homepage</a>
</body>
</html>